<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Where Foreclosure Notices Are Being Sent in Maryland</a>
    </nav>
      <div class="jumbotron">
        <div class="container">
            <h1>Where Foreclosure Notices Are Being Sent in Maryland</h1>
            <p></p>
            <h3>Search for a Zip Code</h3>
            <form method="POST">
                <label for="zip_code">Zip Code:</label>
                <input type="text" id="zip_code" name="zip_code" required minlength="5" maxlength="5" pattern="\d{5}">
                <button type="submit">Submit</button>
            </form>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul>
                {% for category, message in messages %}
                <li{% if category %} class="{{ category }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            <h3>Zip Codes with Most Notices in March 2023</h3>
            <div class="row">
                <div class="col-md-4">
                <ul class="list-unstyled">
                    {% for zip in top_zips %}
                        <li><a href="/zipcode/{{ zip.zip }}">{{ zip.zip }}</a> ({{ zip.notices }} notices)</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
     </div>
    </body>
</html>